In [25]:
import pandas as pd
import numpy as np
from IPython.display import display

In [26]:
def highlight_specific_word(s,
                            word='',
                            props=''):
    return np.where(s == word,
                    props,
                    '')

def style_negative(v, props=''):
    return props if v < 0 else None

def style_positive(v, props=''):
    return props if v > 0 else None

In [27]:
bf_main_tb1 = pd.DataFrame([{'Modelo': 69.86, 'BBG Avg/Median': 69.5, 'Diferença': 0.36, 'Viés': 'Alta'},
                           {'Modelo': 69.86, 'BBG Avg/Median': 70, 'Diferença': 0.36, 'Viés': 'Baixa'}])
# bf_main_tb1 = bf_main_tb1.T.reset_index(drop=False).T.reset_index(drop=True)

In [28]:
bf_main_tb1

   Modelo  BBG Avg/Median  Diferença   Viés
0   69.86            69.5       0.36   Alta
1   69.86            70.0       0.36  Baixa

In [53]:
tb1 = bf_main_tb1.style.apply(highlight_specific_word, word='Alta', props='color:white;background-color:green', axis=1).apply(highlight_specific_word, word='Baixa', props='color:white;background-color:red', axis=1)
tb1

In [54]:
tb1 = tb1.set_properties(**{'text-align': 'right'})
tb1

In [15]:
display(bf_main_tb1)

   Modelo  BBG Avg/Median  Diferença   Viés
0   69.86            69.5       0.36   Alta
1   69.86            70.0       0.36  Baixa