In [17]:
import pandas as pd
import numpy as np

In [104]:
df1 = pd.read_clipboard()

In [61]:
df2 = pd.read_clipboard()

In [105]:
df1["Date"] = pd.to_datetime(df1["Date"])
df2["Date"] = pd.to_datetime(df2["Date"])

In [109]:
df1["type"] = "xp1"
df2["type"] = "xp2"

In [110]:
df1

        Date Ticker  Qty  Price type
0 2000-01-01  PETR4    1     15  xp1
1 2000-01-01  PETR4    1     15  xp1
2 2000-01-02  PETR4    1     16  xp1
3 2000-01-03  PETR4    1     12  xp1
4 2000-01-03  PETR4    1     12  xp1
5 2000-01-03  PETR4    1     12  xp1
6 2000-01-03  PETR4    1     12  xp1
7 2000-01-03  PETR4    1     12  xp1
8 2000-01-04  PETR4    2     13  xp1

In [111]:
df2

        Date Ticker  Qty  Price type
0 2000-01-01  PETR4    1     10  xp2
1 2000-01-02  PETR4    1     11  xp2
2 2000-01-03  PETR4    1     12  xp2
3 2000-01-03  PETR4    1     12  xp2
4 2000-01-03  PETR4    1     12  xp2
5 2000-01-03  PETR4    1     12  xp2
6 2000-01-03  PETR4    1     12  xp2
7 2000-01-04  PETR4    2     13  xp2

In [114]:
df_merge1 = pd.merge(df1.drop("type", axis=1), df2.drop("type", axis=1), how='outer', indicator=True)
df_merge1 = df_merge1.loc[(df_merge1["_merge"] == "left_only")|(df_merge1["_merge"] == "right_only")]

In [117]:
df_merge1

         Date Ticker  Qty  Price      _merge
0  2000-01-01  PETR4    1     15   left_only
1  2000-01-01  PETR4    1     15   left_only
2  2000-01-02  PETR4    1     16   left_only
29 2000-01-01  PETR4    1     10  right_only
30 2000-01-02  PETR4    1     11  right_only

In [120]:
df_merge2 = pd.merge(df_merge1.drop("_merge", axis=1), df1, how="outer", indicator=True)
df_merge2 = df_merge2.loc[df_merge2["_merge"] == "righ

         Date Ticker  Qty  Price type      _merge
0  2000-01-01  PETR4    1     15  xp1        both
1  2000-01-01  PETR4    1     15  xp1        both
2  2000-01-01  PETR4    1     15  xp1        both
3  2000-01-01  PETR4    1     15  xp1        both
4  2000-01-02  PETR4    1     16  xp1        both
5  2000-01-01  PETR4    1     10  NaN   left_only
6  2000-01-02  PETR4    1     11  NaN   left_only
7  2000-01-03  PETR4    1     12  xp1  right_only
8  2000-01-03  PETR4    1     12  xp1  right_only
9  2000-01-03  PETR4    1     12  xp1  right_only
10 2000-01-03  PETR4    1     12  xp1  right_only
11 2000-01-03  PETR4    1     12  xp1  right_only
12 2000-01-04  PETR4    2     13  xp1  right_only

In [116]:
pd.merge(df1, df2, how='outer', indicator=True)

         Date Ticker  Qty  Price type      _merge
0  2000-01-01  PETR4    1     15  xp1   left_only
1  2000-01-01  PETR4    1     15  xp1   left_only
2  2000-01-02  PETR4    1     16  xp1   left_only
3  2000-01-03  PETR4    1     12  xp1   left_only
4  2000-01-03  PETR4    1     12  xp1   left_only
5  2000-01-03  PETR4    1     12  xp1   left_only
6  2000-01-03  PETR4    1     12  xp1   left_only
7  2000-01-03  PETR4    1     12  xp1   left_only
8  2000-01-04  PETR4    2     13  xp1   left_only
9  2000-01-01  PETR4    1     10  xp2  right_only
10 2000-01-02  PETR4    1     11  xp2  right_only
11 2000-01-03  PETR4    1     12  xp2  right_only
12 2000-01-03  PETR4    1     12  xp2  right_only
13 2000-01-03  PETR4    1     12  xp2  right_only
14 2000-01-03  PETR4    1     12  xp2  right_only
15 2000-01-03  PETR4    1     12  xp2  right_only
16 2000-01-04  PETR4    2     13  xp2  right_only

In [82]:
df_result = pd.read_clipboard()

In [69]:
df_result

         Date Ticker  Qty  Price
0  2000-01-01  PETR4    1     15
1  2000-01-02  PETR4    1     16
2  2000-01-03  PETR4    1     12
3  2000-01-03  PETR4    1     12
4  2000-01-03  PETR4    1     12
5  2000-01-03  PETR4    1     12
6  2000-01-03  PETR4    1     12
7  2000-01-04  PETR4    2     13
8  2000-01-01  PETR4    1     10
9  2000-01-02  PETR4    1     11

In [70]:
df1 = df1.groupby(by=["Date", "Ticker"], as_index=False).agg({"Qty": "sum", "pricew": "sum"})
df1["pricew"] = df1["pricew"] / df1["Qty"]
df2 = df2.groupby(by=["Date", "Ticker"], as_index=False).agg({"Qty": "sum", "pricew": "sum"})
df2["pricew"] = df2["pricew"] / df2["Qty"]

KeyError: "Column(s) ['pricew'] do not exist"

In [59]:
pd.merge(df1, df2, how="outer")

        Date Ticker  Qty  pricew
0 2000-01-01  PETR4    1    15.0
1 2000-01-02  PETR4    1    16.0
2 2000-01-03  PETR4    5    12.0
3 2000-01-04  PETR4    2    13.0
4 2000-01-01  PETR4    1    10.0
5 2000-01-02  PETR4    1    11.0